alembic==0.8.2
APScheduler==3.0.5
beautifulsoup4==4.3.2
blinker==1.4
chardet==2.3.0
configobj==5.0.6
cycler==0.9.0
decorator==4.0.4
django==1.7.1
django-bootstrap-toolkit==2.15.0
django-registration-redux==1.1
dominate==2.1.16
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==1.6.0
Flask-Moment==0.5.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
futures==3.0.3
ipython==4.0.1
ipython-genutils==0.1.0
itsdangerous==0.24
jdcal==1.0
Jinja2==2.8
korg==0.0.3
Mako==1.0.2
MarkupSafe==0.23
matplotlib==1.5.0
mysql-connector-python==2.1.3
mysql-python==1.2.4b4
numpy==1.10.1
openpyxl==2.2.3
pandas==0.17.1
path.py==8.1.2
pickleshare==0.5
pil==1.1.7
pillow==2.6.1
plot==0.0.2
poster==0.8.1
psutil==2.1.3
pyinstaller==2.1
pyparsing==2.0.6
pyreadline==2.0
python-dateutil==2.4.2
python-editor==0.4
pytz==2015.7
pywin32==219
regex==2015.11.22
selenium==2.44.0
simplegeneric==0.8.1
six==1.8.0
south==1.0.1
splinter==0.7.0
SQLAlchemy==1.0.9
traitlets==4.0.0
tzlocal==1.2
virtualenv==13.1.2
visitor==0.1.2
Werkzeug==0.10.4
WTForms==2.0.2
